{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('supplier_list') }}" class="btn btn-default">Back to Supplier List  </a>
    <hr/>
    <h2 class="page-header">Supplier ID: {{ supplier.id }}</h2>
    <ul class="list-group">
        <li class="list-group-item">Supplier Name: {{ supplier.Suppliername }}</li>
    </ul>
{% endblock %}
